.nav-shop {
  height: 128px;
  background: rgb(255, 136, 92);
  background: linear-gradient(
    90deg,
    rgba(255, 136, 92, 1) 0%,
    rgba(255, 83, 83, 1) 50%
  );
  -webkit-box-shadow: 0px 3px 6px 0px #00000029;
  -moz-box-shadow: 0px 3px 6px 0px #00000029;
  box-shadow: 0px 3px 6px 0px #00000029;
}

.content-icon-back {
  font-size: 28px;
}
.content-bar-search{
  height: 84px;
  -webkit-box-shadow: 0px 3px 6px 0px #00000029;
  -moz-box-shadow: 0px 3px 6px 0px #00000029;
  box-shadow: 0px 3px 6px 0px #00000029;
}
.icon-input{
  position: absolute;
  right: 23px;
  top: 16px;
  z-index: 10;
  font-size: 24px;
}
.form-control.formsearch{
  border-radius: 8px !important;
  border-color: #FF5D54;
  height: 56px;
}
.formsearch::placeholder, .icon-input{
  color: #FF5D54;
  
}